{% extends "princ.html"%}
{% block title %}
Cronograma
{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="row" >
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-12">
        <div class="form-group col-xs-6">
          <label class="col-sm-4 col-xs-12">Año</label>
          <div class="col-sm-8 col-xs-12">
            <select style="width:100%" class="form-control" name="year" id="year">
              {% for x in years %}
                <option value="{{x}}" data-capitulos="{{x}}" {% if x == now.year %}
                	selected 
                {% endif %}>{{x}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group col-xs-6">
          <label class="col-sm-4 col-xs-12">Mes</label>
          <div class="col-sm-8 col-xs-12">
            <select style="width:100%" class="form-control" name="mes" id="mes">
              {% for x in meses %}
                <option value="{{x}}" {% if x == now.month %}
                	selected 
                {% endif %}>{{x}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
  	    <div class="btn btn-info btn-lg col-xs-4 col-sm-4 col-md-offset-1 col-xs-offset-1" id="evento" data-toggle="modal" data-target="#crear_evento"> <i class="fa fa-plus" aria-hidden="true"></i> Evento</div>
  	    <div class="btn btn-info btn-lg col-xs-4 col-sm-4 col-md-offset-2 col-xs-offset-2" id="culto" data-toggle="modal" data-target="#crear_culto"> <i class="fa fa-plus" aria-hidden="true"></i> Culto</div>
      </div>
      <div class="col-xs-12 col-sm-12">

      </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-offset-1 col-md-10" style="margin-top:20px;">
    	<table class="table table-bordered">
			<thead>
				<th>L</th>
				<th>M</th>
				<th>M</th>
				<th>J</th>
				<th>V</th>
				<th>S</th>
				<th>D</th>
			</thead>
			<tbody id="calendario">
				
			</tbody>
		</table>
    </div>

  </div>
{% include "modal_visualizar_eventos.html" %}
{% include "modal_crear_evento.html" %}
{% include "modal_crear_culto.html" %}
{% include "modal_modificar_culto.html" %}

{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/Cronograma.js' %}"></script>
{% endblock %}