{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% block extra_style %}
  <style type="text/css">
    
  </style>
{% endblock %}
{% block content %}
	<center> <h1> S.E.I </h1> 
	<h2>SISTEMA ESCOGENCIA INSTITUCIONAL</h2>
	<h2>OFICINA SERVICIO CUMUNITARIO</h2>
	<img src="{% static 'img/logo.jpg' %}" class="" alt="" width="150px" height="150px">
	<P>LISTADO DE INTITUCION Y ESTUDIANTE</P>
	<table>
		<thead>
			<tr>
				<th colspan="2">INTITUCION:</th>
				<th colspan="3">{{institucione.nombre}}</th>
			</tr>
			<tr>
				<th>No:</th>
				<th>C. ESTUDIANTE</th>
				<th>APELLIDOS</th>
				<th>NOMBRES</th>
				<th>TELEFONOS</th>
			</tr>
		</thead>
		<tbody>
			{% for x in alumnos %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ x.estudiante.cedula }}</td>
					<td>{{ x.estudiante.apellidos }}</td>
					<td>{{ x.estudiante.nombres }}</td>
					<td>{{ x.estudiante.telefono1 }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<p>El presente es el listado Oficial de la Coordinacion de Servicio Comunitario</p>
	<br>
	<p>Firma y Sello</p>
	<p>Dr. Jose Manuel Armada</p>
	<br>
	<br>
	<p>Tutor</p>
	<p>{{tutor.apellidos}} {{tutor.nombres}}</p>
	<p>{{tutor.telefono1}}</p>
	</center>

{% endblock %}