{% extends "princ.html"%}
{% block title %}
Servicio de {{alumnos.nombres}} {{alumnos.apellidos}}
{% endblock %}
{% load staticfiles %}
{% block content %}
<table class="table table-cover">
  <thead>
    <tr>
      <th>Cedula</th>
      <th>Nombres</th>
      <th>Apellidos</th>
    </tr>
  </thead>
  <tbody>
    {% for x in alumnos %}
    <tr>
      <td>
        {{x.cedula}}
      </td>
      <td>
        {{x.nombres}}
      </td>
      <td>
        {{x.apellidos}}
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
  
</table>
{% endblock %}
{% block js %}
    
{% endblock %}