{% extends "princ.html"%}
{% block title %}
Reportes
{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="panel panel-primary col-md-4" id="cupos_class">
  <div class="panel-heading">Listado de estudiante por instituciones y periodo</div>
  <div class="panel-body" id="cupos_text">
    <form action="javascript:reporte()" id="crear_alumno_f">
      <div class="modal-body">
          <div class="form-group ">
            <label for="Institucion">Institucion</label>
            <select class="form-control" id="Institucion" name="Institucion" required >
              <option></option>
              {% for x in intituciones %}
                <option value="{{x.id}}">{{x.nombre}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="modal-body">
          <div class="form-group ">
            <label for="Perido">Perido</label>
            <select class="form-control" id="Perido" name="Perido" required >
              <option></option>
              {% for x in peridos %}
                <option value="{{x.id}}">{{x.periodo}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>  
    
  </div>
</div>

<div class="panel panel-primary col-md-4" id="cupos_class">
  <div class="panel-heading">Futuros reportos</div>
  <div class="panel-body" id="cupos_text">
    
  </div>
</div>

<div class="panel panel-primary col-md-4" id="cupos_class">
  <div class="panel-heading">Futuros reportos</div>
  <div class="panel-body" id="cupos_text">
    
  </div>
</div>
  
{% endblock %}
{% block js %}
    
{% endblock %}